<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task_recurrence.name %>
</p>

<%= link_to 'Edit', edit_task_recurrence_path(@task_recurrence) %> |
<%= link_to 'Back', task_recurrences_path %>
