<div class="modal-header modal" style="display:block">
  <i class="fas fa-times" data-dismiss="modal" onclick="modalXClose()"></i>
  <h4 class="modal-title modal" id="myModalLabel">New Scrum Task</h4>
</div>
<div class="modal-body modal">
  <%= render 'new_form', scrum_task: @scrum_task %>
</div>
<div class="modal-footer modal">
</div>