#index_header {
  position: static;
  width: 100%;
  padding: 20px 10px 20px 10px;
}
#link_dropdown {
}
#display_date {
  font-size: 15px;
  padding-right: 30px;
}
button.btn-primary {
	background-color: #000;
	border-color: #fff;
	color: fff;
}
button.btn-primary:hover {
	background-color: #5BD35F;
}
nav.nav-style {
	background-color: white;
	padding: 1em 0.5em;
	position: absolute;
	top: 0px;
	width: 100%;
}
.modal-content {
	text-align: left;
}