// Place all the styles related to the Trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require bootstrap-datepicker
*/

#daily-trackers {
  box-sizing: border-box;
  width: 95%;
  position: relative;
  margin: auto;
  text-align: center;
  background: #E0E0E0;
  margin-bottom: 5em;
}
#tracker-title {
  text-align: center;
}

div.table {
  display: table; 
  width: 100%;
}
div.th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
  display: table-row;
  padding: 0px 25px 0px 25px; 
}
div.tr {
  display: table-row; 
}
div.tr:hover {
  background-color: #f5f5f5;
}
div.td {
  border-bottom: 1px solid #ddd;
  padding: 0px 25px 0px 25px; 
  display: table-cell; 
}

.blur {
  -webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px); 
}
.selected {
  background-color: #e3e3e3;
}
