// Place all the styles related to the Trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require bootstrap-datepicker
*/
#daily-trackers {
  width: 100%;
  border-radius: 1.7em 1.7em 0em 0em !important;
  overflow: hidden;
  text-align: left;
}
#table-header{
  margin-bottom: 1em;
  background-color: #E0F3FF;

}
#tracker-title {
  text-align: center;
}

th {
  text-align: left;
  padding: 0.5em 1em 0px 0.5em; 
}
tr { 
}
div.tr:hover {
  background-color: #f5f5f5;
}
div.td {
  //border-bottom: 1px solid #ddd;
  padding: 0px 25px 0px 25px; 
  display: table-cell; 
}

.selected {
  background-color: #e3e3e3;
}
@media (max-width: 767px) {
  table, thead, tbody { 
    display: block; 
  }
  th, td {
    display: none;
  }
  .tracker-xs-visible {
    display: inline-block;
  }


}