<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repeat_recurrence.name %>
</p>

<%= link_to 'Edit', edit_repeat_recurrence_path(@repeat_recurrence) %> |
<%= link_to 'Back', repeat_recurrences_path %>
